{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h1>List of Hospitals</h1>
<div>
<form method="get">
    {{myFilter.form}}
    <button type="submit">Search</button>
</form>
</div>
<div>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Location</th>
        <th></th>
      </tr>
{% for hospital in hospitals %}

<tr>
    <td>{{hospital.fullname}}</td>
    <td>{{hospital.mobile_number}}</td>
    <td>{{hospital.location}}</td>
    <td>
        <form  method="post">
        {% csrf_token %}
        <input id="hospital_pk" type="text" name="hospital_pk" hidden value = {{hospital.pk}}  >
        <input type="submit" value="Request doc">
        </form>
    </td>
</tr>

{% endfor %}
</table>

</div>

------------------------------------------


<div>
    <h4 margin="10">All requests </h4>
    <table border="1">
        <tr>
            <th>Requestid</th>
            <th>hospital</th>
            <th>status</th>
            
          </tr>
    
    {% for req in allreq %}
    
    <tr>
        <td>{{req.unique_id}}</td>
        <td>{{req.hospital.fullname}}</td>
        {% if req.is_fulfilled %}
        <td>Fulfilled</td>
        {% else %}
        <td>Under process</td>

        {% endif %}
        
    </tr>
    
    {% endfor %}
    </table>
    
    </div>
{% endblock content %}