{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>List of Infirmaries</h1>
<div>
<form method="get">
    {{myFilter.form}}
    <button type="submit">Search</button>
</form>
</div>
<div>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Location</th>
      </tr>
{% for inf in infirmaries %}

<tr>
    <td>{{inf.fullname}}</td>
    <td>{{inf.mobile_number}}</td>
    <td>{{inf.location}}</td>
    <td>
        <form  method="post">
        {% csrf_token %}
        <input id="infirmary_pk" type="text" name="infirmary_pk" hidden value = {{inf.pk}}  >
        <input type="submit" value="Place order">
        </form>
    </td>
</tr>

{% endfor %}
</table>



<h2>Past order history </h2>


<table border="1">
    <tr>
        <th>Name</th>
        <!-- <th>Doc</th> -->
        <th>Amount</th>
        <th>Description</th>
        <th>Status</th>
      </tr>
{% for r in orders%}

<tr>
    <td>{{r.infirmary.fullname}}</td>
    
    <td>{{r.amount_paid}}</td>
    <td>{{r.description}}</td>
    <td>
        {% if r.is_fulfilled   %}
        Confirmed
        {% else %}
        
      Pending
        {% endif %}
    </td>

</tr>

{% endfor %}
</table>

</div>
{% endblock content %}