{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<h1>List of Insurance Companies</h1>
<div>
<form method="get">
    {{myFilter.form}}
    <button type="submit">Search</button>
</form>
</div>
<div>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Location</th>
      </tr>
{% for ic in insurancecompanies %}

<tr>
    <td>{{ic.fullname}}</td>
    <td>{{ic.mobile_number}}</td>
    <td>{{ic.location}}</td>
    <td>
        <form  method="post">
        {% csrf_token %}
        <input id="insurance_pk" type="text" name="insurance_pk" hidden value = {{ic.pk}}  >
        <input type="submit" value="Request refund">
        </form>
    </td>
</tr>

{% endfor %}
</table>

Active requests
{% for r in alldocs%}

<tr>
    <td>{{r.insurance_company.fullname}}</td>
    <td>{{r.refund_amount}}</td>
</tr>

{% endfor %}
</div>


{% endblock content %}