{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<htmL><head>

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="https://unpkg.com/web3@latest/dist/web3.min.js"></script>
    <!-- <script src='node_modules/web3/dist/web3.min.js'></script> -->
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@0.18.2/dist/web3.min.js"></script>

</head><body>
<div>
<table border="1">
    <tr>
        <!-- <th>Patient</th> -->
        <th>ID</th>
        <th>Doc</th>
        <!-- <th>Hospital</th> -->
        <th>is_verified</th>
        <!-- <th>share button</th> -->
        <th>Delete </th>
      </tr>
{% for ic in docs %}

<tr>
    <!-- <td>{{ic.patient}}</td> -->
    <td>{{ic.pk}}</td>
    <td><a href="{{ic.medical_doc.url}}">{{ic.medical_doc.url}}</a></td>
    <!-- <td>{{ic.hospital}}</td> -->
    <td>{{ic.is_verified}}</td>
    {% if ic.is_verified %}
    <!-- <td><a href = "{% url 'ShareDocP' ic.pk %}">Share</a></td> -->
    {% else %}
    <td>Not shareable </td>
    {% endif %}
    <td><a href = "{% url 'delete_doc' ic.pk %}">Delete</a></td>
    
</tr>

{% endfor %}
</table>
</div>


<form method = "POST" enctype="multipart/form-data">
    {% csrf_token %}
   
        {{form|crispy}}
    <div class="form-group">
        <button class="btn btn-outline-info" name="upload_doc">Update</button>
    </div>
</form>


<form method = "POST" >
    {% csrf_token %}
        {{form2|crispy}}
    <div class="form-group">
        <button class="btn btn-outline-info" name="share">Share</button>
    </div>
</form>
{% endblock content %}
<script>
async function loadWeb3() {
    if (window.ethereum) {
    window.web3 = new Web3(window.ethereum);
    window.ethereum.enable();
    }
    }

    web3=new Web3(web3.currentProvider);

async function loadContract() {
    return await new window.web3.eth.Contract([
	{
		"constant": false,
		"inputs": [
			{
				"name": "id",
				"type": "uint256"
			},
			{
				"name": "hash",
				"type": "string"
			}
		],
		"name": "setDocID",
		"outputs": [],
		"payable": false,
		"stateMutability": "nonpayable",
		"type": "function"
	},
	{
		"constant": true,
		"inputs": [{
				"name": "id",
				"type": "uint256"
			}],
		"name": "getDocumentHash",
		"outputs": [
			{
				"name": "",
				"type": "string"
			}
		],
		"payable": false,
		"stateMutability": "view",
		"type": "function"
	}
], '0xaeb8f6eadba21e5fefe63690708d30f0f9300fbb');
}
$("#b").click(function() {
            add();
        });
        async function connectMetamask() {
        window.ethereum.enable()
            .then(async (rs) => {
                setMyAccount(rs[0])
                let balance = await web3.current.eth.getBalance(accounts[0]);
                setBalance(web3.current.utils.fromWei(balance))
            })
    }
    connectMetamask();
        async function add(){
            var to = $("#to").val();
             var b = parseInt(to)
            var message=$("#t2").val();
            const accounts = await window.web3.eth.getAccounts();
            
            const account=accounts[0];
            console.log(accounts);
            // alert(typeof(account))
            // console.log(to+" "+message);
            // var c1=await window.contract.methods.getMessage().call();

            // var c=await window.contract.methods.setDocID(b,message).send({from:account});
            var d =await window.contract.methods.getDocumentHash(b).call();
            console.log("hello")
            console.log(d);     
            // window.location.reload();
        }
        async function load() {
            await loadWeb3();
            window.contract = await loadContract();
            // updateStatus('Ready!');
        }


load();
</script>


</body></htmL>