{% extends "blog/hospital.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div>
<table border="1">
    <tr>
        <th>Patient</th>
        <th>Doc</th>
        <th>Hospital</th>
        <th>is_verified</th>
        <th>share button</th>
        <th>Delete </th>
      </tr>
{% for ic in docs %}

<tr>
    <td>{{ic.patient}}</td>
    <td><a href="{{ic.medical_doc.url}}">{{ic.medical_doc.url}}</a></td>
    <td>{{ic.hospital}}</td>
    <td>{{ic.is_verified}}</td>
    <td><a href = "{% url 'ShareDocP' ic.pk %}">Share</a></td>
    <td><a href = "{% url 'delete_doc' ic.pk %}">Delete</a></td>
    
</tr>

{% endfor %}
</table>
</div>


<form method = "POST" enctype="multipart/form-data">
    {% csrf_token %}
   
        {{form|crispy}}
    <div class="form-group">
        <button class="btn btn-outline-info">Update</button>
    </div>
</form>
{% endblock content %}